.item-add {
  overflow: hidden;

  button {
    width: 100px;
    float: left;
  }

  input {
    width: calc(100% - 112px);
    margin-right: 12px;
    float: left;
  }
}

.item {
   border-bottom: 1px solid #008080;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  button {
    background: none!important;
    border: 0!important;
    color: #008080!important;
    padding: 0 12px!important;
  }

  a {
    display: block;
    padding: 12px;
    flex-grow: 1;
  }
}
