<div class="page-top">
  <button (click)="addList()" class="full-width">Create New List</button>
</div>
<lists-add [animationState]="animationState" (onClose)="animationState = $event"></lists-add>

<ul *ngIf="lists?.length > 0; else noLists">

  <li *ngFor="let list of lists" class="list">

    <swal #deleteSwal
          title="Delete {{list.name}}?"
          text="This cannot be undone!"
          type="question"
          [position]="'bottom'"
          [showCancelButton]="true"
          [focusCancel]="true"
          (confirm)="removeList(list)"></swal>

    <div class="list__content">

      <a [routerLink]="'items/' + list.id" class="no-decoration">
        <main>
          <p class="list__name">{{list.name}}</p>
          <p class="list__last-updated">last updated: {{list.lastUpdatedDate | date:'dd/MM/yyyy HH:mm'}}</p>
        </main>
      </a>

      <aside class="list__actions">
        <button (click)="copyList(list)" class="action-button"><fa-icon [icon]="faCopy "></fa-icon></button>
        <button [swal]="deleteSwal" class="action-button"><fa-icon [icon]="faTrash"></fa-icon></button>
      </aside>

    </div>

  </li>

</ul>

<ng-template #noLists>
  <div class="page-content">
    <p>You currently have no lists!</p>
  </div>
</ng-template>
