.list {
  position: relative;
  border-bottom: 1px solid #66b2b2;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    padding: 12px;
    flex-grow: 1;
  }
}

.action-button {
  background: none!important;
  border: 0!important;
  color: #008080!important;
  padding: 0 12px!important;
}

.list__name {
  color: 	#008080;
  font-size: 18px;
}

.list__last-updated {
  color: #909090;
  font-size: 14px;
}
