<div class="page-top">
  <button (click)="addList()" class="full-width">Create New List</button>
</div>
<lists-add [animationState]="animationState" (onClose)="animationState = $event"></lists-add>

<ul *ngIf="lists$ | async as lists">
  <ng-template [ngIf]="lists.length > 0" [ngIfElse]="noLists">
    <li *ngFor="let list of lists" class="list">
      <a [routerLink]="'items/' + list.id" class="no-decoration">
        <main>
          <p class="list__name">{{list.name}}</p>
          <p class="list__last-updated">last updated: {{list.lastUpdated | date:'short'}}</p>
        </main>
      </a>
      <aside class="list__actions">
        <a (click)="copyList(list)" class="list__actions__action"><fa-icon [icon]="faCopy "></fa-icon></a>
        <a (click)="removeList(list.id)" class="list__actions__action"><fa-icon [icon]="faTrash"></fa-icon></a>
      </aside>

    </li>
  </ng-template>
</ul>

<ng-template #noLists>
  <div class="page-content">
    <p>You currently have no lists!</p>
  </div>
</ng-template>
